html {
font-family: arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
/* margin-bottom: 1em; */
color: #353232;
font-size: 3em;
font-weight: bold;
margin-top: 0px;
margin-bottom: 0;
text-shadow: #816c70 1px 0 10px;
/* margin-left: .2em; */
}

img {
    border: dotted;
    border-radius: 1em;
    width: 80%;
    margin: 1em 0;
}

div.guide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.htmlPasteBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.htmlPasteBox label{
    text-align: center;
}

.guide {
    margin-top: 1em;
}

#example {
    margin: .5em 0;
}