<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/indexStyle.css">
    <title>1001J EXAM HACKER</title>
</head>
<body>
    <h1>1001J EXAM HACKER</h1>
    <!-- NOTICE 更改action地址 -->
    <form action="http://127.0.0.1:5000" method="post" class="htmlPasteBox">
        <label for="html">请在这里粘贴html代码</label>
        <br>
        <textarea name="html" id="html" cols="150" rows="20" placeholder='<html data-userprofile-context="{hasPro...}...">...'></textarea>
        <br>
        <input type="submit" value="提交"></input>
    </form>
    <div class="guide">
        首先我们需要。。。
    </div>
</body>
</html>